<h5>Student Login</h5>
<form class="login-form" method="post" action="/users/login">
    
    <input type="text" name="username" placeholder="Enter Username"><br>
    
    <input type="password" name="password" placeholder="Enter Password"><br>
    <input type="submit" value="submit" class="btn btn-success">
</form>