<h3>Welcome to Chill University</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia nisi a mauris vehicula, non bibendum leo laoreet. Duis tortor nisi, posuere ac est vel, dictum lobortis nibh. In congue risus a neque aliquet commodo. Vivamus a mauris nisi. Nunc pretium sodales mattis. Nam feugiat lorem in nulla accumsan lacinia. Phasellus et ultrices tellus, et aliquam dolor.</p>
<p>Aliquam quis erat eget magna semper ultrices. Aliquam at facilisis mi, nec dapibus nisi. Proin porta hendrerit ipsum, eget tincidunt quam volutpat ut. Aliquam luctus lobortis odio, quis imperdiet ligula sollicitudin a. Phasellus at imperdiet lorem, rhoncus placerat metus. Integer ac venenatis tortor. Sed tincidunt hendrerit ligula at facilisis. Donec auctor dolor sed est cursus imperdiet.</p>
<a class="btn btn-primary" href="/users/register">Sign Up For Free</a>
<p>You need to signup to register for free classes</p>
